@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@using HinhLam_Infrastructure.Services.Menu;
@{
    ViewData["Title"] = "Dịch Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>

    <div class="language">
        <a id="vnFlag" href="/"><img src="/themes/vip/img/flag-vn.png"></a>
        <a id="enFlag" href="/en/"><img src="/themes/vip/img/flag-en.png"></a>
        <a id="cnFlag" href="/cn/"><img src="/themes/vip/img/flag-cn.png"></a>
    </div>

    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/images/icon/icon-pdf.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>
                    <li><a href="#"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></li>
                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Dịch vụ</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">Dịch vụ</div>
            <div class="row">
                <div class="col-12">
                    <div class="heading-page">
                        <div class="d-md-flex">
                            <h3>Dịch vụ của <span>Hinh Lam</span></span></h3>
                            <div class="text-intro">Trên 15 năm kinh nghiệm làm dịch vụ kế toán cho nhiều lĩnh vực ngành nghề. <br>Chúng tôi luôn sẵn sàng phục vụ bạn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                @inject IMenuService menuService;
                
                @{
                    int count = 1;
                }
                @foreach (var menuItem in menuService.GetAllMenu())
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="item-service">
                            <a href="@menuItem.HrefLink" title="@Html.Raw(menuItem.MenuName)">
                                <div class="thumb-img">

                                    <img src="@menuItem.Files.FirstOrDefault()?.FileHref">

                                </div>
                                <div class="summary-service">
                                    <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                    <div class="block-1">
                                        <div class="icon-number"><span>@Html.Raw(count)</span></div>
                                        @{
                                            count++; 
                                        }
                                        <div class="text-title">@Html.Raw(menuItem.MenuName)</div>
                                        <a class="link-viewchitiet" href="@menuItem.HrefLink" title="Xem chi tiết">Xem chi tiết</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/dich-vu');
            document.getElementById('enFlag').setAttribute('href', '/en'+'/services');
            document.getElementById('cnFlag').setAttribute('href', '/cn'+'/services-chinese');
        });
    </script>
</body>