@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@using HinhLam_Infrastructure.Services.Menu;
@{
    ViewData["Title"] = "服務";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}

<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    
    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/newlogo.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>

                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>服務</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">服務</div>
            <div class="row">
                <div class="col-12">
                    <div class="heading-page">
                        <div class="d-md-flex">
                            <h3><span>鑫藍的服務</ span></span></h3>
                            <div class="text-intro">在多個行業的會計服務方面擁有超過 15 年的經驗。我們隨時準備為您服務。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                @inject IMenuService menuService;

                @{
                    int count = 1;
                }
                @foreach (var menuItem in menuService.GetAllMenu())
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="item-service">
                            <a href="@menuItem.HrefLink" title="@Html.Raw(menuItem.MenuNameCN)">
                                <div class="thumb-img">

                                    <img src="@menuItem.Files.FirstOrDefault()?.FileHref">

                                </div>
                                <div class="summary-service">
                                    <img class="img-default" src="/images/assets/images/arrow-dich-vu.png" alt=""><img class="img-hover" src="/images/assets/images/arrow-dich-vu-hover.png" alt="">
                                    <div class="block-1">
                                        <div class="icon-number"><span>@Html.Raw(count)</span></div>
                                        @{
                                            count++;
                                        }
                                        <div class="text-title">@Html.Raw(menuItem.MenuNameCN)</div>
                                        <a class="link-viewchitiet" href="@menuItem.HrefLink" title="細節">細節</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/dich-vu');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/services');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/services-chinese');
        });
    </script>
</body>