@model MenuInfoModel;
@using HinhLam_Infrastructure.Services.Menu;
@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;

@using System.Web;

@{
    ViewData["Title"] = "Service Details";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>


    <div class="section-banner">

        <img src="/images/b/banner-inner_1.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="profileHinhLam  hide">

        <div class="profile-block">
            <a class="btn-download" href="#"><span>Profile company Hinh lam</span><span class="icon-pdf"><img src="/images/assets/images/icon/icon-pdf.png" alt="" /></span></a>
            <div class="list-support">
                <ul class="support-1">
                    <li><span><img src="/images/assets/images/icon/icon-zalo.png" alt="" /></span><span>0983 204 115 -0919 724 872</span></li>
                    <li><a href="mailto:dailythuehinhlam@gmail.com"><span><img src="/images/assets/images/icon/icon-email.png" alt="" /></span><span>dailythuehinhlam@gmail.com</span></a></li>
                    <li><a href="#"><span><img src="/images/assets/images/icon/icon-skype.png" alt="" /></span><span>dailythue_hinhlam</span></a></li>
                    <li><a href="#" title=""><span><img src="/images/assets/images/icon/icon-what.png" alt="" /></span><span>dailythe_hinhlam</span></a></li>
                </ul>
                <div class="scan-qr-connect">
                    <p>Quét mã QR kết nối cùng chúng tôi</p>
                    <ul>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>wechat</span></li>
                        <li><img src="/images/assets/images/qr-chat.jpg" alt="" /><span>Zalo</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breabcrumbsPath hide">

        <a href="/">Home</a>

        <a href="/en/services/">Services</a>

        @* <span>Gỡ rối sổ sách kế toán, dịch vụ kế toán, hoàn thuế</span>*@
        <span>@Html.Raw(Model.MenuNameEN)</span>

    </div>

    <div class="section-main">
        <div class="container">

            <div class="pageTitle hidden">Dịch vụ</div>
            <div class="row">
                <div class="col-12 col-md-8 order-md-2">
                    <div class="share-social-section">
                        <div class="share-social-block">
                            <iframe id="frameFacebook" src="https://www.facebook.com/plugins/like.php?locale=vi_VN&href=&width=120&layout=button&action=like&size=small&share=true&height=65&appId=209361920715199" width="120" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            <script>
                                var a_href = window.location.href;
                                var urlLink = "https://www.facebook.com/plugins/like.php?locale=vi_VN&[href]=" + a_href + "&width=120&layout=button&action=like&size=small&share=true&height=65&appId=209361920715199";
                                $(function () {
                                    urlLink = urlLink.replace('[href]', 'href');
                                    $('#frameFacebook').attr('src', urlLink);
                                })
                            </script>
                        </div>
                    </div>

                    @{
                        var id = Model.MenuId;
                    }
                    <div class="switch-menu">
                        @switch (id)
                        {
                            case "1":
                                <div class="content">
                                    <!-- Content for page 1 -->
                                    <div class="detail-content">

                                        <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                        <p>@Html.Raw(@Model.SubMenus.ElementAt(0).DescriptionEn)</p>
                                        <p><img src="/images/2021/img-ykien-khach-hang_1_1.jpg" alt="" width="743" height="498" /></p>
                                        <h3>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</h3>

                                        @{
                                            var textSegments = Model.Contents.ElementAt(0).ContentsEn.Split('|', StringSplitOptions.RemoveEmptyEntries);
                                            @foreach (var segment in textSegments)
                                            {
                                                <p>@Html.Raw(@segment)</p>
                                            }

                                        }
                                        <h3>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</h3>
                                        @{
                                            var replacedContent = @Model.Contents.ElementAt(1).ContentsEn.Replace("|", "<li>");
                                            <ul>
                                                @Html.Raw(replacedContent)
                                            </ul>
                                            <p> @Html.Raw(Model.Contents.ElementAt(2).ContentsEn)</p>
                                        }
                                        
                                    </div>
                                </div>
                                break;

                            case "2":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuName)</h3>
                                    <p><strong><span lang="en-US">@Html.Raw(Model.Contents.ElementAt(0).Title)</span></strong></p>
                                    @{
                                        var content1 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content1)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><strong><span lang="en-US">@Html.Raw(Model.Contents.ElementAt(1).Title)</span></strong></p>
                                    @{
                                        var content2 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content2)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                break;
                            case "3":
                                <div class="content">
                                    <div class="detail-content">
                                        <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></p>
                                        @{
                                            var content3 = @Model.Contents.ElementAt(0).ContentsEn.Replace("|", "<br/>");

                                            <p>@Html.Raw(content3);</p>

                                        }
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                        @{
                                            var content4 = @Model.Contents.ElementAt(1).ContentsEn.Replace("|", "<br/>");

                                            <p>@Html.Raw(content4);</p>

                                        }
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</strong></p>
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(2).ContentsEn)</strong></p>
                                    </div>
                                </div>
                                break;
                            case "4":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><span>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</span></p>

                                    <p><span><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></span></p>
                                    @{
                                        var content5 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content5)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content6 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content5)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    
                                </div>
                                break;
                            case "5":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></p>
                                    @{
                                        var content7 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content7)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                break;

                            case "6":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <h3 style="color: #3465a4" id="Procedures_for_establishing_a_foreign_invested_company:"><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></h3>
                                    @{
                                        var content8 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content8)
                                            {
                                                <li><p>@Html.Raw(@item)</p></li>
                                            }
                                        </ul>
                                    }
                                    <h3 style="color: #3465a4" id="Documents_that_customers_need_to_prepare_when_establishing_a_foreign-invested_company_in_Vietnam:"><strong>@Html.Raw(Model.SubMenus.ElementAt(1).TitleEn)</strong></h3>
                                    <p id="For_individual_investors_(by_individuals,_foreign_individuals_contribute_capital_to_establish_a_company_in_Vietnam):"><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content9 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content9)
                                            {
                                                <li><p>@Html.Raw(@item)</p></li>
                                            }
                                        </ul>
                                    }
                                    <p id="For_institutional_investors_(contributed_by_foreign-based_companies,_invested_capital_to_establish_a_company_in_Vietnam):"><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</strong></p>
                                    @{
                                        var content10 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content10)
                                            {
                                                <li><p>@Html.Raw(@item)</p></li>
                                            }
                                        </ul>
                                    }
                                    <h3 style="color: #3465a4"><strong>@Html.Raw(Model.Contents.ElementAt(3).TitleEn)</strong></h3>
                                    @{
                                        var content11 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content11)
                                            {
                                                <li><p>@Html.Raw(@item)</p></li>
                                            }
                                        </ul>
                                    }
                                </div>
                                break;
                            case "7":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><span>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</span></p>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></p>
                                    @*<p>– Đơn đề nghị điều chỉnh Giấy phép kinh doanh.</p>
                            <p>– Trường hợp thay đổi tên, mã số doanh nghiệp, địa chỉ trụ sở chính và người đại diện theo pháp luật, trừ trường hợp chuyển địa điểm đặt trụ sở chính, chuẩn bị thêm Bản sao Giấy chứng nhận đăng ký doanh nghiệp ghi nhận nội dung điều chỉnh;</p>
                            *@
                                    @{
                                        var content12 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                       
                                            @foreach (var item in content12)
                                            {
                                                <p>@Html.Raw(@item)</p>
                                            }
                                    }
                                    @*<p>– Trường hợp thay đổi các nội dung khác của Giấy phép kinh doanh thì phải thêm một số tài liệu sau:</p>*@
                                    <p>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</p>
                                    @{
                                        var content13 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content13)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    @*Buoc 1*@
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn) </strong> @Html.Raw(@Model.Contents.ElementAt(2).ContentsEn)</p>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(3).TitleEn)</strong></p>
                                    @{
                                        var content14 = Model.Contents.ElementAt(3).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content14)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @*Luu y*@
                                    <p><strong><em>@Html.Raw(Model.Contents.ElementAt(4).TitleEn)</em></strong></p>
                                    @{
                                        var content15 = Model.Contents.ElementAt(4).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content15)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @*Buoc 2*@
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(5).TitleEn)</strong></p>
                                    @{
                                        var content16 = Model.Contents.ElementAt(5).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content16)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @*Buoc 3*@
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(6).TitleEn)</strong></p>
                                    @{
                                        var content17 = Model.Contents.ElementAt(6).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content17)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @*Buoc 4*@
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(7).TitleEn)</strong></p>
                                    @{
                                        var content18 = Model.Contents.ElementAt(7).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content18)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @*Buoc 5*@
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(8).TitleEn)</strong></p>
                                    @{
                                        var content19 = Model.Contents.ElementAt(8).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content19)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "8":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><span>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</span></p>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></p>
                                    @{
                                        var content20 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content20)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "9":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <div class="wpb_row wf-container">
                                        <div class="vc_col-sm-12 wpb_column column_container ">
                                            <div class="wpb_wrapper">
                                                <div id="ultimate-heading60ab1faca908e" class="uvc-heading uvc-6973 " data-hspacer="no_spacer" data-halign="left">
                                                    <div class="uvc-main-heading ult-responsive" data-ultimate-target="#ultimate-heading60ab1faca908e h2" data-responsive-json-new="{">
                                                        <p><strong>@Html.Raw(Model.SubMenus.ElementAt(0).TitleEn) </strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_row wf-container">
                                        <div class="vc_col-sm-12 wpb_column column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  ">
                                                    <div class="wpb_wrapper">
                                                        @{
                                                            var content21 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                                            <ul>
                                                                @foreach (var item in content21)
                                                                {
                                                                    <li>@Html.Raw(@item)</li>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_row wf-container">
                                        <div class="vc_col-sm-6 wpb_column column_container  _mce_tagged_br">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  ">
                                                    <div class="wpb_wrapper">
                                                        <p><strong>@Html.Raw(Model.SubMenus.ElementAt(1).TitleEn)</strong></p>
                                                        @{
                                                            var content22 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                                            @foreach (var item in content22)
                                                            {
                                                                <ul>
                                                                    <li>@Html.Raw(@item)</li>
                                                                </ul>
                                                            }

                                                        }

                                                        @{
                                                            var content23 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                                            @foreach (var item in content23)
                                                            {
                                                                <p>@Html.Raw(@item)</p>
                                                            }
                                                        }
                                                        <p><span>@Html.Raw(Model.Contents.ElementAt(3).ContentsEn)</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            case "10":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><span>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</span></p>
                                    @{
                                        var content24 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        <ul>
                                            @foreach (var item in content24)
                                            {

                                                <li><p>@Html.Raw(@item)</p></li>

                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content25 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content25)
                                            {

                                                <li><p>@Html.Raw(@item)</p></li>

                                            }
                                        </ul>
                                    }
                                    <p>@Html.Raw(Model.Contents.ElementAt(2).ContentsEn)</p>
                                </div>
                                break;
                            case "11":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</p>
                                    @{
                                        var content26 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul class="list3t">
                                            @foreach (var item in content26)
                                            {

                                                <li>@Html.Raw(@item)</li>

                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    <p><strong><img src="/images/2021/thumb-esign.png" alt="misa-esign" width="100%" height="100%" /> </strong></p>

                                    <p> </p>
                                </div>
                                break;
                            case "12":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</p>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong>@Html.Raw(Model.Contents.ElementAt(0).ContentsEn)</p>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn) </strong>@Html.Raw(Model.Contents.ElementAt(1).ContentsEn)</p>
                                    <div>
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</strong>@Html.Raw(Model.Contents.ElementAt(2).ContentsEn)</p>
                                        <p><strong>@Html.Raw(Model.Contents.ElementAt(3).ContentsEn)</strong></p>
                                        <p><img src="/images/2021/cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-2021.png" alt="e-invoice" width="729" height="163" /></p>
                                        <p><img src="/images/2021/cung-cap-phan-mem-hoa-don-dien-tu-hinh-lam-misa.png" alt="e-invoice" width="729" height="163" /></p>
                                        <p> </p>
                                    </div>
                                </div>
                                break;
                            case "13":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></p>
                                    <p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/2021/chu-ky-so-hinh-lam.jpg" alt="" width="398" height="126" /></strong></p>
                                    <p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/2021/chu-ky-so-hinh-lam-2021-2.jpg" alt="" width="800" height="240" /></strong></p>
                                    @{
                                        var content27 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content27)
                                            {

                                                <li>@Html.Raw(@item)</li>

                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content28 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content28)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><span lang="EN-US"><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</strong></span></p>
                                    @{
                                        var content29 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content29)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(3).TitleEn)</strong></p>
                                    @{
                                        var content30 = Model.Contents.ElementAt(3).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content30)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p> </p>
                                </div>
                                break;
                            case "14":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p>@Html.Raw(Model.Contents.ElementAt(0).ContentsEn)</p>
                                </div>
                                break;
                            case "15":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p><span>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</span></p>
                                    <h3 id="Đối_tượng_người_nước_ngoài_nào_được_cấp_giấy_phép_lao_động_tại_Việt_Nam">@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</h3>
                                    @{
                                        var content31 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content31)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content32 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content32)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    <h3 id="Dịch_vụ_tư_vấn_cấp_giấy_phép_lao_động_cho_người_nước_ngoài_của_Công_ty_luật_Việt_An"><span style="color: #0000ff;">@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</span></h3>
                                    @{
                                        var content33 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content33)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                break;
                            case "16":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <h3>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</h3>
                                    @{
                                        var content34 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);


                                        <p>@Html.Raw(content34[0])</p>

                                        <ul>
                                            @for (int i = 1; i < content34.Length; i++)
                                            {
                                                <li>@Html.Raw(content34[i])</li>
                                            }
                                        </ul>
                                    }
                                    <p>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</p>
                                    @{
                                        var content35 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content35)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <h3>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</h3>
                                    @{
                                        var content36 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content36)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><em><strong>@Html.Raw(Model.Contents.ElementAt(3).ContentsEn)</strong></em></p>
                                </div>
                                break;
                            case "17":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p>@Html.Raw(Model.SubMenus.ElementAt(0).DescriptionEn)</p>
                                    <p><span><strong>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</strong></span></p>
                                    @{
                                        var content37 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content37)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(1).TitleEn)</strong></p>
                                    @{
                                        var content38 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content38)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    @{
                                        var content39 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);


                                        <p>@Html.Raw(content39[0])</p>

                                        <ul>
                                            @for (int i = 1; i < content39.Length; i++)
                                            {
                                                <li>@Html.Raw(content39[i])</li>
                                            }
                                        </ul>
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(3).TitleEn)</strong></p>
                                    @{
                                        var content40 = Model.Contents.ElementAt(3).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content39)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                    <p><span>@Html.Raw(Model.Contents.ElementAt(4).ContentsEn)</span></p>
                                </div>
                                break;
                            case "18":
                                <div class="detail-content">
                                    <h3 class="title-detail">@Html.Raw(Model.MenuNameEN)</h3>
                                    <p>@Html.Raw(Model.Contents.ElementAt(0).TitleEn)</p>
                                    @{
                                        var content41 = Model.Contents.ElementAt(0).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content41)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    @{
                                        var content42 = Model.Contents.ElementAt(1).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content42)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                    <p><strong>@Html.Raw(Model.Contents.ElementAt(2).TitleEn)</strong></p>
                                    @{
                                        var content43 = Model.Contents.ElementAt(2).ContentsEn.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        <ul>
                                            @foreach (var item in content43)
                                            {
                                                <li>@Html.Raw(@item)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                break;
                        }
                    </div>
                </div>
                <div class="col-12 col-md-4 order-md-1">
                    <div class="left-siderbar">
                        <h3 class="title-left"> <span><img src="/images/assets/images/icon-plus.png" alt=""></span><span>HINH LAM SERVICES</span></h3>
                        <div class="list-menu-service">

                            <ul>
                                @inject IMenuService menuService;
                                @{
                                    var menuList = menuService.GetAllMenu().ToList();
                                    var currentPage = Model.MenuId;
                                }

                                @foreach (var menuItem in menuList)
                                {
                                    var isActive = currentPage.Equals(menuItem.MenuId);

                                    <li class="@(isActive ? "active-menu" : "")">
                                        @Html.Raw($"<a id=\"{menuItem.MenuId}\" href=\"{menuItem.HrefLinkEN}\" title=\"{menuItem.MenuNameEN}\">{menuItem.MenuNameEN}</a>")
                                    </li>
                                }
                            </ul>

                        </div>
                        <div class="blockLeft"></div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('.blockLeft').html($('.profileHinhLam').html());
                })
            </script>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '@Model.HrefLink');
            document.getElementById('enFlag').setAttribute('href', '@Model.HrefLinkEN');
            document.getElementById('cnFlag').setAttribute('href', '@Model.HrefLinkCN');
        });
    </script>
</body>
