@model List<MenuInfoModel>;
@using HinhLam_DataObject.Models;
@using HinhLam_DataObject.ViewModels;
@{
    ViewData["Title"] = "主頁";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
   

    <div class="section-banner-homepage">
        <ul>

            <li><img src="/images/b/ke-toan-hinh-lam-b8.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b9.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b5.jpg" alt=""></li>

            <li><img src="/images/b/ke-toan-hinh-lam-b6.jpg" alt=""></li>
        </ul>
    </div>


    <div class="section-service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-heading-service">

                        <h3 class="title-1"><span>鑫藍的服務</ span></h3>

                        <p class="text-center">我們在業務的每個階段提供完整的服務包：加入、建立、運營、擴張、合併收購和退出。</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="homepage-service-list">
                        <div class="thumb-img"><img src="/images/assets/img-service.jpg" alt=""></div>
                        <div class="list-service">

                            <ul>
                                @for (int i = 0; i < 6; i++)
                                {
                                    <li class="acitve-items" style=""><a href="@Model.ElementAt(i).HrefLinkCN" title="@Model.ElementAt(i).MenuNameCN">@Model.ElementAt(i).MenuNameCN</a></li>

                                }

                            </ul><a class="btn-viewall" href="/cn/services-chinese/" title="Xem tất cả"><span>Xem tất cả</span><span><img src="/images/assets/images/icon/icon-view-all.png" alt=""></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="homepage-item-about">
                        <div class="thumb-about"><img src="/images/assets/img-about-us.jpg" alt=""></div>
                        <div class="homepage-about-content">

                            <h3> <span>關於鑫藍</span></h3>
                            <p><p>鑫藍公司是一家專業提供會計服務，稅務，勞動管理和投資諮詢的外國投資者在越南的企業。以“與您同行”為口號，我們公司為在過去有效地支持客戶而感到自豪。</p></p><a class="link-timhieu" href="/cn/about-us-chinese/" title="了解更多關於我們">了解更多關於我們</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-logo-partner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-logo">
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpgpng" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpgpng" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpgpng" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpgpng" alt="" /></div>
                        <div class="item-logo"><img src="/images/assets/logo-doi-tac-hinh-lam.jpgpng" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-client-review">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-review">

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_1_1.jpg" alt="Ms. Lana" /></div>
                            <div class="block-content-review">
                                <h3> <span>顧客評論</span></h3>
                                <div class="content-review">
                                    <p>我對鑫藍的會計服務非常放心。對我來說，鑫藍敬業、細緻、周到，總是為我們提供正確的解決方案。</p>
                                    <p class="client-name"> <strong>- Ms. Lana</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_1_2.jpg" alt="Ms. Hằng" /></div>
                            <div class="block-content-review">
                                <h3> <span>顧客評論</span></h3>
                                <div class="content-review">
                                    <p>我對鑫藍的會計服務非常放心。對我來說，鑫藍敬業、細緻、周到，總是為我們提供正確的解決方案。</p>
                                    <p class="client-name"> <strong>- Ms. Hằng</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="item-review">
                            <div class="thumb-img"><img src="/images/2021/img-ykien-khach-hang_1_3.jpg" alt="Ms. Lan" /></div>
                            <div class="block-content-review">
                                <h3> <span>顧客評論</span></h3>
                                <div class="content-review">
                                    <p>我對鑫藍的會計服務非常放心。對我來說，鑫藍敬業、細緻、周到，總是為我們提供正確的解決方案</p>
                                    <p class="client-name"> <strong>- Ms. Lan</strong></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-contact-homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-2"><span>接觸</span></h3>
                    <div class="w-680">
                        <h4 class="sub-title-2">您需要鑫藍公司諮詢其中一項的服務.</h4>
                        <p>請致電0983204115或填寫下表 </p>
                            <form class="homepage-frm-contact" method="post" action="/hot-contact">
                                <input type="hidden" name="language" value="cn" />
                                <input class="input-text" type="email" name="email" placeholder="您的電子郵件">
                                <input class="btn-submit" type="submit" value="發送">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-homepage-news">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="left-news-homepage">
                        <h3 class="homepage-title-news"> <span>新聞</span></h3>
                        <p>會計、稅務申報的一些專業信息介紹. 以及服務於業務對象的最新稅收政策</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese" title="嚴禁從被審計單位獲得支持"><img src="/images/2021/angiang-phucvu.png" alt="嚴禁從被審計單位獲得支持" /></a></div>
                                <div class="summary-news">
                                    <a href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese" title="嚴禁從被審計單位獲得支持">嚴禁從被審計單位獲得支持</a>
                                    <a class="d-flex btn-news-details" href="/cn/news-chinese/troubleshooting-accounting-books-accounting-services-tax-refund-chinese" title="查看更多"><span>查看更多</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="homepage-items-news">
                                <div class="thumb-img"><a class="link-news-detail" href="/cn/news-chinese/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。"><img src="/images/2021/chi-phi-ban-hang.png" alt="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。" /></a></div>
                                <div class="summary-news">
                                    <a href="/cn/news-chinese/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity" title="越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。">越南社會保險：為18歲以下的個人無身份證，公民身份證實施電子交易登記。</a>
                                    <a class="d-flex btn-news-details" href="/cn/news-chinese/it-is-strictly-forbidden-to-receive-support-from-the-audited-entity" title="查看更多"><span>查看更多</span><span> <img src="/images/assets/images/icon/arrow-detail-news.png" alt=""></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>
