@using HinhLam_Infrastructure.Services.Menu;
@model HinhLam_DataObject.ViewModels.ConsultViewModel.ConsultWriteModel;
@{
    ViewData["Title"] = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    <header id="header">
        <div class="container">
            <div class="header-top">
                <a class="logo" href="/" title="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam"><img alt="Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam" src="/images/assets/newlogo.png"></a><a class="hamburger-menu" data-toggle-menu data-toggle-target="#menuWrapper" data-toggle-accordion="false" href="javascript:void(0);" title="Menu"><span><span></span><span></span></span><span><span></span><span></span></span><span><span></span><span></span></span></a>
            </div>
            <div class="header-bottom">
                <nav class="nav-main" id="menuWrapper">

                    <div class="language">

                        <a href="/lien-he/"><img src="/themes/vip/img/flag-vn.png"></a>

                        <a href="/en/contact/"><img src="/themes/vip/img/flag-en.png"></a>

                        <a href="/cn/contact-chinese/"><img src="/themes/vip/img/flag-cn.png"></a>

                    </div>

                    <ul class="nav-main__menu">

                        <li>
                            <a class="nav-main__menu-link" href="/" title="Trang chủ">Trang chủ</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/dich-vu/" title="Dịch vụ">Dịch vụ</a>

                            <span class="ion ion-ios-arrow-down"></span>
                            <ul class="nav-main__menu-second">
                                @inject IMenuService menuService;
                                @foreach (var item in menuService.GetAllMenu())
                                {
                                    <li><a class="nav-main__menu-second-link" href="@item.HrefLink" title="@Html.Raw(item.MenuName)">@Html.Raw(item.MenuName)</a></li>

                                }
                            </ul>
                            
                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tin-tuc/" title="Tin tức">Tin tức</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/tuyen-dung/" title="Tuyển dụng">Tuyển dụng</a>

                        </li>

                        <li>
                            <a class="nav-main__menu-link" href="/lien-he/" title="Liên hệ">Liên hệ</a>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="section-banner">

        <img src="/images/b/banner-inner_4.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Liên hệ</span>

    </div>

    <div class="pageTitle hidden">Liên hệ</div>
    <div class="section-contact-page">
        <div class="container">
            <div class="row information-block">
                <div class="col-12">

                    <h3>CÔNG TY TNHH DỊCH VỤ TƯ VẤN THUẾ HINH LAM</h3>
                    <p> <strong>Địa chỉ:</strong>Số 40 đường N5, KDC Dịch vụ Tân Bình, Phường Tân Bình, Thành Phố Dĩ An, Tỉnh Bình Dương</p>
                    <p> <strong>Điện thoại:</strong>0983 204 115</p>
                    <p> <strong>Email: </strong><a href="mailto:dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com">dailythuehinhlam@gmail.com, elena.nguyen@hinhlam.com</a></p>
                    <p><strong>Mã số thuế</strong>: <span>3702862785</span></p>
                    <p><strong>Fanpage</strong>: <a href="https://www.facebook.com/Hinhlamtaxingaccouting/?ref=pages_you_manage" target="_blank">Công ty TNHH Dịch Vụ Tư Vấn Thuế Hinh Lam</a></p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.7183288660144!2d106.77205000817435!3d10.930350998054298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d98f4046eadb%3A0xfe7a4a590aed137!2zQ8O0bmcgVHkgVE5ISCBE4buLY2ggVuG7pSBUxrAgVuG6pW4gVGh14bq_IEhpbmggTGFt!5e0!3m2!1sen!2s!4v1617885215307!5m2!1sen!2s" width="100%" height="625" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <div class="col-12 col-md-6">
                    <a id="formcontacts"></a>


                    <form class="frm-contact" name="cartform" method="POST" action="/lien-he" ENCTYPE="multipart/form-data">
                        <input type="hidden" name="language" value="vn" />
                        <div class="form-group">
                            <label for="CustomerName">Họ tên *</label>
                            <input class="form-control" type="text" name="CustomerName" id="CustomerName" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="CustomerCompany">Công ty</label>
                            <input class="form-control" type="text" name="CustomerCompany" id="CustomerCompany" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email *</label>
                            <input class="form-control" type="text" name="Email" id="Email" placeholder="" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Điện thoại</label>
                            <input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label for="Contents">Nội dung*</label>
                            <textarea class="form-control" name="Contents" id="Contents" rows="5" maxlength="250" required></textarea>
                        </div>
                        <div class="actions d-flex justify-content-center align-items-center">
                            <input class="btn btn-primary btn-lg" type="submit" style="position:center; width:40%" value="Gửi">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tuyen-dung');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/careers');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/careers-chinese');
        });
    </script>
    @if (TempData.ContainsKey("NotificationMessage"))
    {
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-top-right',
                timeOut: 5000,
                toastClass: 'custom-toast-class'
            };
            toastr['@TempData["NotificationType"]']('@TempData["NotificationMessage"]');
        </script>
    }
</body>