@model NewsInfoModels;
@using HinhLam_Infrastructure.Services.Menu;
@using static HinhLam_DataObject.ViewModels.NewsViewModels;
@using HinhLam_Infrastructure.Services.News;

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}



<body class="lang-cn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="breabcrumbsPath hide">

        <a href="/">主頁</a>

        <span>新聞</span>

    </div>

    <div class="pageTitle hidden">新聞</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="heading-page"><div class="d-md-flex"><h3>新聞</h3></div></div>
                </div>
            </div>
            <div class="row">

                @inject INewsService menuService;

                @foreach (var item in menuService.GetAllNews())
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="item-news">
                            @if (item.FileNews != null && item.FileNews.Any())
                            {
                                var firstFile = item.FileNews.FirstOrDefault();
                                if (firstFile != null)
                                {
                                    var imageUrl = firstFile.FileHref;
                                    <div class="thumb-img">
                                        <a href="@Html.Raw(item.LinkHrefCn)" title="@Html.Raw(item.TitleCn)">
                                            <img src="@imageUrl" />
                                        </a>
                                    </div>
                                }
                            }
                            <div class="summary-news">
                                <a class="text-title" href="@Html.Raw(item.LinkHrefCn)" title="@Html.Raw(item.TitleCn)">@Html.Raw(item.TitleCn)</a>
                                <p>
                                    @Html.Raw(item.ShortDescriptionCn?.Length > 150 ? item.ShortDescriptionCn?.Substring(0, 150) + "..." : item.ShortDescriptionCn)
                                </p>
                            </div>
                        </div>
                    </div>
                }
                
            </div>


            <div class="row">
                <div class="col-12 mt-2">
                    <div class="paging">
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="1">1</a></li>

                                <li class="page-item"><a class="page-link" href="/cn/news-chinese/?p=2" title="2">2</a></li>

                                <li class="page-item next"><a class="page-link" href="/cn/news-chinese/?p=2">>></a></li>

                            </ul>


                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '/tin-tuc');
            document.getElementById('enFlag').setAttribute('href', '/en' + '/news');
            document.getElementById('cnFlag').setAttribute('href', '/cn' + '/news-chinese');
        });
    </script>
</body>