@model NewsInfoModels;
@using HinhLam_Infrastructure.Services.Menu;
@using  static HinhLam_DataObject.ViewModels.NewsViewModels;



@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lang-vn">
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
    

    <div class="language">
        <a id="vnFlag" href="/"><img src="/themes/vip/img/flag-vn.png"></a>
        <a id="enFlag" href="/en/"><img src="/themes/vip/img/flag-en.png"></a>
        <a id="cnFlag" href="/cn/"><img src="/themes/vip/img/flag-cn.png"></a>
    </div>

    <div class="section-banner">

        <img src="/images/b/banner-inner_2.jpg" alt="" class="banner-desktop">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="pageBannerTitle"></h3>
                </div>
                <div class="col-12">
                    <div class="breabcrumbs"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="breabcrumbsPath hide">

        <a href="/">Trang chủ</a>

        <span>Tin tức</span>

    </div>

    <div class="pageTitle hidden">Tin tức</div>

    <div class="section-main">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">
                    <div class="heading-page"><div class="d-md-flex"><h3 class="w-100">@Model.Title</h3></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto">

                    @{
                        var id = Model.NewsId;
                    }
                    <div class="switch-menu">
                         @switch (id)
                        {
                            case "1":
                                <div class="detail-content">

                                    @{
                                        var content1 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content1)
                                        {
                                            <p><span><span><span>@Html.Raw(@item)</span></span></span></p>
                                        }
                                    }
                                    @{
                                    var content2 = Model.Contents.ElementAt(1).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                    
                                        @foreach (var item in content2)
                                        {
                                            <p><span><span><span>@Html.Raw(@item)</span></span></span></p>
                                        }
                                    
                                    }
                                    
                                    @{
                                        var content3 = Model.Contents.ElementAt(2).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content3)
                                        {
                                            <p><span><span><span>@Html.Raw(@item)</span></span></span></p>
                                        }

                                    }
                                    @{
                                        var content4 = Model.Contents.ElementAt(3).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);

                                        @foreach (var item in content4)
                                        {
                                            <p><span><span><span>@Html.Raw(@item)</span></span></span></p>
                                        }

                                    }
                                    
                                        
                                </div>

                                break;

                            case "2":
                                <div class="detail-content">

                                    @{
                                        var content5 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content5)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "3":
                                <div class="detail-content">

                                    @{
                                        var content6 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content6)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "4":
                                <div class="detail-content">

                                    @{
                                        var content7 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content7)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "5":
                                <div class="detail-content">

                                    @{
                                        var content8 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content8)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;
                            case "6":
                                <div class="detail-content">

                                    @{
                                        var content9 = Model.Contents.ElementAt(0).Contents.Replace("|", "\n").Split('\n', StringSplitOptions.RemoveEmptyEntries);
                                        @foreach (var item in content9)
                                        {
                                            <p>@Html.Raw(@item)</p>
                                        }
                                    }
                                </div>
                                break;

                            case "7":
                                <div class="detail-content">
                                    <div class="article__body">
                                        <p><span><em>Phóng viên: Chính phủ vừa trình Quốc hội việc cắt giảm các cuộc thanh tra, kiểm tra, kiểm toán trong năm 2020, ông đánh giá như thế nào về việc này?</em></span></p>
                                        <img style="float: left; margin-left: 8px; margin-right: 8px;" src="http://static.tapchitaichinh.vn/w800/images/upload/duongthanhhai/06242020/hdp.JPG" alt="&amp;Ocirc;ng Hồ Đức Phớc." data-original="http://static.tapchitaichinh.vn/images/upload/duongthanhhai/06242020/hdp.JPG" />
                                    </div>
                                    <div class="article__body">
                                        <strong>Ông Hồ Đức Phớc.</strong>
                                        <p><em><span>Ông Hồ Đức Phớc:</span> </em>Năm 2020, Kiểm toán Nhà nước giảm 35% số cuộc kiểm toán so với năm 2019. Vừa qua, khi dịch Covid-19 xảy ra, Kiểm toán Nhà nước cũng giảm đầu mối, không thực hiện đối chiếu thuế, tạo điều kiện cho doanh nghiệp hoạt động sản xuất, kinh doanh. Việc này dẫn đến nhiều nghi ngại sẽ có kẽ hở khiến các sai phạm không được kịp thời phát hiện. Tuy nhiên, thực tế sẽ không như vậy.</p>
                                        <p><span><em>Từ vụ sai phạm, tiêu cực nâng khống giá thiết bị y tế chống dịch Covid-19 thì càng cần phải tăng cường giám sát, nếu cắt giảm thời lượng kiểm toán thì chất lượng kiểm toán có đáp ứng được không, thưa ông?</em></span></p>
                                        <p>Chúng tôi phải chọn mẫu, chọn điểm trọng yếu để kiểm toán. Những vấn đề, lĩnh vực quan trọng, nhạy cảm thì vẫn phải kiểm toán. Giảm đầu mối không có nghĩa là giảm các cuộc kiểm toán, mà là giảm các đối tượng liên quan, doanh nghiệp, đơn vị trực thuộc. Còn với các vấn đề cốt lõi trong kiểm toán thì vẫn phải thực hiện, bảo đảm cho chất lượng kiểm toán nâng lên. Mục tiêu đặt ra là kiểm toán không chỉ giúp tăng thu cho ngân sách mà phải đánh giá một cách đúng đắn, xác định đúng, có kiến nghị đúng và đặc biệt là bịt được “lỗ hổng” có khả năng gây ra thất thoát; kiến nghị hoàn thiện chính sách, siết chặt kỷ luật, kỷ cương về mặt tài chính.</p>
                                        <p>Tổng cộng có 40 chuẩn mực kiểm toán và chúng tôi căn cứ vào hệ thống chuẩn mực đó để xác định những “lỗ hổng” có khả năng gây thất thoát. Đồng thời sẽ có quy trình lựa chọn nội dung trọng yếu và rủi ro trong quá trình kiểm toán, từ đó xác định vấn đề cần đi sâu, tập trung kiểm tra.</p>
                                        <div class="parent-adv advInpageDetail clearfix">
                                            <div id="zone-js9raq8b">
                                                <div id="share-js9raq8n">
                                                    <div id="placement-js9rh630">
                                                        <div id="banner-js9raq8b-js9rh63c">
                                                            <div id="slot-1-js9raq8b-js9rh63c">
                                                                <div id="ssppagebid_2455">
                                                                    <div id="adnzone_508943" class="banner2" data-ssp="sspbid_2010644" data-admssprqid="e38cf894-36ae-4519-a372-c9fc4f463aa8142-60ac61b5" data-width="300" data-height="250">
                                                                        <div id="ads_top_bottom"><em>Ông có thể chia sẻ rõ hơn vì sao Kiểm toán Nhà nước đề xuất được tham gia kiểm toán các dự án đầu tư theo phương thức đối tác công tư (PPP)?</em></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Trách nhiệm của Kiểm toán Nhà nước là phải kiểm toán các dự án PPP mà Nhà nước có chủ trương đầu tư và sản phẩm tạo ra được bàn giao cho Nhà nước. Có kiểm toán mới xác định được tính tuân thủ pháp luật và giá trị công trình mà nhà đầu tư hoàn thành. Đó cũng là cơ sở xác định việc thu hồi vốn cho nhà đầu tư, bảo đảm công khai minh bạch, để mọi người giám sát.</p>
                                        <p><span><em>Xin cảm ơn ông!</em></span></p>
                                    </div>
                                    <p class="author source-footer" style="text-align: right;"><em>Theo Phong Thu/hanoimoi.com.vn</em></p>
                                </div>
                                break;
                                
                                default :
                                     <h1>Xin lỗi, nội dung quý khách tìm kiếm không tồn tại!!!</h1>
                                break;

                        }
                    </div>
                </div>

                <div class="related-news">
                        <h3>Tin liên quan</h3>
                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán"><img src="/images/2021/chi-phi-ban-hang.png" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/nghiem-cam-viec-nhan-ho-tro-tu-don-vi-duoc-kiem-toan" title="Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán">Nghiêm cấm việc nhận hỗ trợ từ đơn vị được kiểm toán</a>
                                        <p>Đó là một trong những nội dung tại Công điện số 786 về việc siết chặt kỷ luật, kỷ cương, tăng cường công tác quản lý hoạt động của các đơn vị trực thuộc Kiểm...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ"><img src="/images/2021/hinh-lam-ke-toan-thue.png" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/quy-dinh-viec-ap-dung-quan-ly-rui-ro-trong-quan-ly-hoa-don-chung-tu" title="Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ">Quy định việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ</a>
                                        <p>Theo quy định tại Điều 21, Thông tư số 31/2021/TT-BTC về việc áp dụng quản lý rủi ro trong quản lý hóa đơn, chứng từ, thì cơ quan thuế căn cứ danh sách người nộp thuế...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="item-news">
                                    <div class="thumb-img"><a href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT"><img src="/images/2021/bhythg_.jpg" /></a></div>
                                    <div class="summary-news">
                                        <a class="text-title" href="/tin-tuc/tu-0172021-thay-doi-khai-niem-ho-gia-dinh-tham-gia-bhyt" title="Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT">Từ 01/7/2021: Thay đổi khái niệm Hộ gia đình tham gia BHYT</a>
                                        <p>Ngày 13/11/2020, Quốc hội đã thông qua Luật Cư trú năm 2020, có hiệu lực từ ngày 01/7/2021. Luật này sửa đổi, bổ sung nội dung một số Luật khác liên quan, trong đó có Luật...</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This code will run after the DOM is fully loaded
            document.getElementById('vnFlag').setAttribute('href', '@Model.LinkHref');
            document.getElementById('enFlag').setAttribute('href', '@Model.LinkHrefEn');
            document.getElementById('cnFlag').setAttribute('href', '@Model.LinkHrefCn');
        });
    </script>
</body>